:root {
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --grey: #6b7280;
    --light : #EEE ;
    --pink: #ec4899;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html{
    font-family: 'Roboto', sans-serif;
}

.container1{
    width: 850px;
    height: 450px;
    background-image: url(space.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
}

.container2{
    height: 324px;
    width: 850px;
    background-color: #bbbdbb;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.column1 {
    height: 324px;
    width: 270px;
    background-color: #bbbdbb;
    margin-right: 10px;
    padding-left: 5px;
    color: #656966;
}
.column1 > h3{
    color: black;
}

.column2 {
    height: 324px;
    width: 270px;
    background-color: #bbbdbb;
    margin: 0 10px 0 10px;
    color: #656966;
}

.column2 > h3 {
    color: black;
}

.column3 {
    height: 324px;
    width: 270px;
    background-color: #bbbdbb;
    margin-left: 10px;
    color: #656966;
}

.column3 > h3 {
    color: black;
    font-weight: bold;
}

.anchorTags{
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 270px;
    justify-content: space-evenly;
}

a{
    color: #656966;
}

textarea{
    height: 80px;
}

.submit {
    background-color: var(--dark);
    color: white;
    height: 37px;
    width: 90px;

}

.submitcontainer{
    width: 241px;
    justify-content: flex-start;
    display: flex;
}